MediaPlayer/bin
MediaPlayer/obj
MediaPlayer/Properties
MediaPlayer/Resources
MediaPlayerTests/bin
MediaPlayerTests/obj
MediaPlayerTests/Properties
MediaPlayerTests/Resources
packages
MediaPlayer.v12.suo

